/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
    color: #000;
    background-image: url('../img/train.jpg');
}

/* APP MAIN */
.app-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
}
.app-main #price{
    text-align: center;
}